/* SCSS Document */
@charset "UTF-8";
@import "@/assets/scss/common/mixins.scss";
@import "@/assets/scss/common/variables.scss";
@import "@/assets/scss/common/layout.scss";
@import "@/assets/scss/common/table.scss";



/****************************************************************************
    utilities Class                        https://getbootstrap.com 참고함
****************************************************************************/
/* is Breakpoints */ 
@include md {
    .hidden-tablet {display:none !important}
}

/* color */
.color {
    $value: #767676;
    @each $hexCode in $value {
        $class: str-slice(#{$hexCode}, 2, 7);
        &#{"-"+$class} {
            color:#{$hexCode} !important;
        }
    }
}
.color-primary {color:$G-colorPrimary !important}
.color-secondary {color:$G-colorSecondary !important}