/* SCSS Document */
@charset "UTF-8";



/****************************************************************************
    layout
****************************************************************************/
/* Frame */
$wrapW: 100%;
html, body {font-size:10px}
#wrap {overflow-x:hidden !important;min-width:$wrapW;font-family:"NanumSquare", sans-serif;font-size:1.5rem;letter-spacing:-0.02em}
#container {background-color:#fff;}
$innerPd:2.2rem;
.inner {padding:0 #{$innerPd}}

/* HEADER */ 
#header {width:100%;height:4.6rem;background-color:rgba(#fff, 0);transition:background-color 0.3s $G-easeHover, box-shadow 0.3s $G-easeHover, transform 0.6s $G-easeHover;}
#header.header-up {transform:translateY(-100%)}
#header .inner {display:flex;align-items:center}
#header .link_home {display:flex;align-items:center;font-size:1.9rem;font-weight:bold;color:#fff;letter-spacing:-0.01em;transition:color 0.3s $G-easeHover}
#header .link_home svg {fill:#fff;margin-right:0.9rem;font-size:2.9rem}
#header.header-active {background-color:rgba(#fff, 1);box-shadow:0 0.1rem 1rem rgba(0,0,0,0.05)}
#header.header-active .link_home {color:#333}
#header.header-active .link_home svg {fill:$G-colorPrimary}

/* FOOTER */ 
#footer {
    position:relative;width:100%;padding:5rem 0;background-color:#292b31;
    .tit_footer {
        padding-bottom:1.8rem;font-family:'OpenSans';font-size:2.8rem;font-weight:800;color:#fff;text-align:center;
    }
    .desc_footer {
        font-size:1.3rem;color:#fff;text-align:center;line-height:1.6em;
    }
}

#footer .list_sns {
    display:flex;justify-content:center;align-items:center;padding:2.8rem 0;
    .link_sns {
        display:block;padding:0 0.4em;font-size:2.8rem;line-height:0em;fill:#fff;
    }
}

#footer .copyright {    
    .desc {
        font-family:'OpenSans';font-size:1.1rem;color:#fff;text-align:center;letter-spacing:0;
    }
}



/****************************************************************************
    container
****************************************************************************/
/* 공통 */ 

/* 맨 위로 이동하기 */ 
$aisdeBtnTopH: 5rem;
#aisdeBtnTop {z-index:30;min-width:$wrapW;margin-left:0 !important}
#aisdeBtnTop .btn_top {display:flex;flex-direction:column;justify-content:center;align-items:center;position:absolute;bottom:#{$aisdeBtnTopH / -2};right:2rem;z-index:1;width:$aisdeBtnTopH;height:$aisdeBtnTopH;color:#fff;fill:#fff;background:$G-gradPrimary;transition:all 0.4s ease-in-out}
#aisdeBtnTop .btn_top svg {margin-bottom:0.2em;font-size:1.15rem}
#aisdeBtnTop .btn_top span {font-size:1.1rem}
#aisdeBtnTop.fixed .btn_top {bottom:2rem}
#aisdeBtnTop.is-hidden .btn_top {opacity:0;bottom:-2rem;pointer-events:none}