/* SCSS Document */
@charset "UTF-8";



/****************************************************************************
    cache
****************************************************************************/
$G-cache: random(999999999);


/****************************************************************************
    color
****************************************************************************/
$G-colorPrimary: #07d05a;
$G-colorSecondary: #24beac;



/****************************************************************************
    linear-gradient
****************************************************************************/
$G-gradPrimary: linear-gradient(to right, #07d05a, #24beac);



/****************************************************************************
    cubic-bezier                 https://greensock.com/docs/v3/Eases 참고함
****************************************************************************/
$G-easeHover: cubic-bezier(0.215, 0.61, 0.355, 1);



/****************************************************************************
    Breakpoints                               https://getbootstrap.com 참고함
****************************************************************************/
$G-breakpoint-small: 576px;
$G-breakpoint-medium: 768px;
$G-breakpoint-large: 1024px;
$G-breakpoint-extraLarge: 1680px;
$G-breakpoint-extraExtraLarge: 1920px;
$G-breakpoint-fhd: 1920px;
$G-breakpoint-qhd: 2560px;
$G-breakpoint-uhd: 3840px;