/* SCSS Document */
@charset "UTF-8";

$imgPath : "/img/main/";
/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/


    /* 메인비주얼 */
    #visual {
        position:relative;width:100%;height:66.2rem;
        .inner {
            z-index:1;
        }
        .tit_section {
            position:absolute;top:50%;left:50%;font-size:3.6rem;font-weight:900;text-align:center;line-height:1.35em;letter-spacing:-0.05em;color:#fff;white-space:nowrap;transform:translate(-50%, -125%);
            strong {
                font-weight:900;background-image:linear-gradient(to right,#28e375 0%, #22e6cc 101%);-webkit-background-clip:text;-webkit-text-fill-color:transparent;
            }
        }
        .videoLayer {
            @include gradSlideBtn;
            position:absolute;top:50%;left:50%;transform:translate(-50%, 13rem);
        }
        @include md {
            height:44rem;
            .videoLayer {
                @include gradSlideBtn($height:5.5rem);
                transform:translate(-50%, 9.5rem);
            }
        }
    }

    #visual .swiper-container {
        position:absolute;top:0;left:0;z-index:0;width:100%;height:100%;
    }

    #visual .swiper-slide {
        .tit {
            position:absolute;top:50%;left:50%;text-align:center;line-height:1.6em;color:#fff;white-space:nowrap;text-shadow:0.1rem 0.1rem 0.5rem rgba(#000, 0.5);opacity:0;transform:translate(-40%, 1.9em);
        }
        .bg {
            position:absolute;top:0;bottom:0;left:0;right:0;background:center center no-repeat;background-size:cover;transform:rotate(.001deg) scale(1);
        }
        &.swiper-slide-active, &.swiper-slide-duplicate-active, &.swiper-slide-prev, &.swiper-slide-duplicate-prev {
            .tit {
                opacity:1;transform:translate(-50%, 1.714em);transition:all 0.6s 0.2s ease-in-out;
            }
            .bg {
                transform:rotate(.001deg) scale(1.15);transition:transform 6s linear;
            }
        }
    }

    #visual .swiper-button-area {
        $btnSize: 4.5rem;
        position:absolute;top:50%;left:#{$btnSize + $innerPd};right:#{$btnSize + $innerPd};z-index:1;height:1px;background-color:rgba(#fff,0.3);
        .swiper-button-white {
            width:#{$btnSize};height:#{$btnSize};margin-top:#{$btnSize / -2};border-radius:100%;background-color:rgba(#fff,0.3);background-size:30%;
        }
        .swiper-button-prev {
            left:#{-$btnSize}
        }
        .swiper-button-next {
            right:#{-$btnSize}
        }
        @include sm {
            left:$innerPd;right:$innerPd;
            .swiper-button-white {
                display:none;
            }
        }
    }

    #visual .swiper-button-area .progress_bar {
        position:absolute;top:0;left:0;width:0;height:100%;background-color:$G-colorPrimary;
        &.is-active {
            $name: inline-#{unique-id()};
            animation:#{$name} 3.5s forwards linear;
            @keyframes #{$name} {
                100%        {width:100%}
            }
        }
    }

    #visual .swiper-pagination {
        width:100%;bottom:3rem;
        .swiper-pagination-bullet {
            margin:0 0.6rem;border-radius:2em;background:rgba(#fff,0.3);opacity:1;transition:all 0.4s ease-in-out;
        }
        .swiper-pagination-bullet-active {
            width:2.8rem;background:#fff;
        }
    }



/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/



    /* 성장과정 */
    #profile {
        position:relative;height:36.35rem;
    }

    #profile .swiper-container {
        width:100%;height:100%;background-image:linear-gradient(to right, #00c652, #00c5ae);
    }

    #profile .swiper-slide {
        .tit {
            padding:7rem 0 1.4rem;font-size:1.75rem;font-weight:bold;color:#fff;text-align:center;line-height:1em;
        }
        .num {
            font-family:"CenturyGothic";font-size:6.3rem;font-weight:bold;color:#fff;text-align:center;line-height:1em;letter-spacing:-0.03em;
            .count {
                letter-spacing:-0.01em;
            }
        }
        .desc {
            padding-top:2.6rem;color:#fff;text-align:center;line-height:1.6em;
            mark.is-textMark {
                @include textMark(#008054,0s,1.4);
            }
        }
    }

    #profile .swiper-button-white {
        width:4rem;height:6.5rem;margin-top:-3.25rem;background-color:rgba(#000,0.15);background-size:30%;
        &.swiper-button-prev {
            left:0;
        }
        &.swiper-button-next {
            right:0;
        }
        @include sm {
            display:none;
        }
    }

    #profile .swiper-pagination {
        width:100%;bottom:3rem;
        .swiper-pagination-bullet {
            margin:0 0.6rem;border-radius:2em;background:rgba(#fff,0.3);opacity:1;transition:all 0.4s ease-in-out;
        }
        .swiper-pagination-bullet-active {
            width:2.8rem;background:#fff;
        }
    }


/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/



    /* 프로젝트 */
    #project {
        position:relative;z-index:1;background-color:#f5f7f8;
        .tit_section {
            padding:7rem 0 2.5rem;font-size:2.6rem;text-align:center;line-height:1.37em;letter-spacing:-0.03em;
        }
    }

    #project .list_tag {
        padding-bottom:70px;
        .btn_tag {
            overflow:hidden;display:inline-block;position:relative;z-index:1;margin:5px;padding:10px 20px 10px;border:1px solid #eaeaea;font-size:1.3rem;line-height:1em;transition:all 0.2s ease-in-out;
            &::before {
                content:"# ";
            }
            &::after {
                content:"";position:absolute;top:0;bottom:0;left:0;right:100%;z-index:-1;background:$G-gradPrimary;transition:all 0.4s ease-in-out;
            }
            &.on, &.on.fw-bold {
                border-color:transparent;color:#fff;transition:all 0.4s ease-in-out;
                &::after {
                    right:0;
                }
            }
            &.fw-bold {
                color:$G-colorPrimary;
            }
        }
    }

    #project .list_project {
        display:flex;flex-wrap:wrap;margin:#{$innerPd / -2} auto;transition:all 1s ease-in-out;
        &:empty {
            &::after {
                content:"태그(#)가 선택되지 않았습니다.";display:flex;justify-content:center;align-items:center;width:100%;padding-top:65px;font-size:30px;color:#cacaca;text-shadow:1px 1px 0 #fff;
            }
            & ~ .btn_area .btn_more {
                display:none;
            }
        }
        @include md {
            max-width:92rem;
        }
    }

    #project .item_project {
        position:relative;width:100%;margin:#{$innerPd / 2} 0;background-color:#fff;transition:0.3s $G-easeHover;
        @include md {
            width:calc(50% - #{$innerPd});margin:#{$innerPd / 2};
        }
    }

    #project .item_project .inner_default {
        width:100%;height:100%;
        .box_thumb {
            height:24.2rem;background-size:cover;
        }
        .tit {
            padding:3rem 0 1rem 3rem;font-size:2.35rem;font-weight:bold;line-height:1em;
        }
        .desc {
           min-height:4.6rem !important;padding:0 3rem 1rem;line-height:1.6;/* word-break:keep-all; */
        }
        .tag {
            overflow:hidden;height:3rem;margin-bottom:3rem;padding:0 3rem;
            span {
                display:inline-block;margin-right:1.1rem;padding:0.7rem 1.1rem 0.7rem;font-size:1.4rem;border:1px solid #eaeaea;line-height:1em;
                &::before {
                    content:"# ";
                }
            }
        }
    }
    #project .inner_overlay {
        position:absolute;top:0;bottom:0;left:0;right:0;z-index:1;opacity:0;padding:5rem 4.5rem 0;transition:0.3s $G-easeHover;pointer-events:none;
        &::after {
            content:"";position:absolute;top:0;bottom:0;left:0;right:0;z-index:-1;background-color:rgba(#000,0.9);
        }
        .tit {
            margin-bottom:0.6em;font-size:2.35rem;font-weight:bold;color:#fff;line-height:1em;word-break:keep-all;
        }
        .desc {
            margin-bottom:1.3em;padding-bottom:1em;border-bottom:1px solid rgba(#fff,0.23);font-size:1.8rem;color:#fff;line-height:1.6em;word-break:keep-all;
        }
        .role {
            margin-bottom:0.5rem;font-size:1.4rem;color:#fff;
        }
        .work {
            margin-bottom:0.5rem;font-size:1.4rem;color:#fff;
        }
        .rate {
            margin-bottom:0.5rem;font-size:1.4rem;color:#fff;line-height:1.5em;
        }
        .list_more {
            display:flex;align-items:center;position:absolute;bottom:4.5rem;left:50%;transform:translateX(-50%);
            > * {
                fill:#fff;overflow:hidden;display:none;justify-content:center;align-items:center;position:relative;width:5rem;height:5rem;margin:0 1rem;border:2px solid #fff;border-radius:100%;font-size:2.4rem;transition:transform 0.3s $G-easeHover;
                &::after {
                    content:"";position:absolute;top:0;bottom:0;left:0;right:0;z-index:-1;opacity:0;border-radius:100%;border:0;transition:0.3s $G-easeHover;
                }
                &.btn_video {
                    font-size:1.8rem;
                }
                svg {
                    pointer-events:none;
                }
            }
        }
    }

    #project .item_project.item_project-active .inner_overlay {
        opacity:1;pointer-events:all;
    }

    #project .item_project .btn_more {
        $value:
            link    2.3rem,
        ;
        @each $class, $fz in $value {
            .#{$class} {
                font-size:#{$fz};
            }
        }
    }

    #project .btn_area {
        padding:3rem 0 7rem;text-align:center;;
        .btn_more {
            @include gradSlideBtn;
            svg {
                margin-right:0.5rem;
            }
            span::after {
                content:"더보기";
            }
            &.is-touch {
                svg {
                    $name: inline-#{unique-id()};
                    animation:#{$name} 0.5s alternate infinite $G-easeHover;
                    @keyframes #{$name} {
                        0%         {transform:translateY(-10%)}
                        100%       {transform:translateY(10%)}
                    }
                }
                span::after {
                    content:"불러오는 중";
                }
            }
        }
    }



/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/



    /* 사용자 편의성 */
    #device {
        position:relative;padding-bottom:20vw;background:#292B31 50% 0 no-repeat;background-size:cover;background-attachment:fixed;
        .inner {
            padding:0;
        }
        @include safariHack {
            background:none !important;
            .bg {
                position:fixed;top:0;bottom:0;left:0;right:0;z-index:-10;background:#292B31 50% 0 no-repeat;background-size:cover;transform:translateZ(0);will-change:transform;
            }
        }
    }

    #device .tag {
        display:flex;align-items:center;position:absolute;top:-1rem;left:50%;z-index:40;width:10.5em;height:2.3em;padding-left:1.2em;border-radius:2em;font-family:"CenturyGothic";font-size:1.1rem;font-weight:bold;font-style:italic;color:#fff;line-height:1em;background-color:#ff0032;transform:translateX(-90%);
        &::after {
            $name: inline-#{unique-id()};
            content:"";position:absolute;top:50%;right:1em;width:0.5em;height:0.5em;background-color:#fff;border-radius:100%;transform:translateY(-50%);animation:#{$name} 0.5s infinite alternate ease-in-out;
            @keyframes #{$name} {
                100%        {opacity:0.5}
            }
        }
        @include md {
            font-size:1.6rem;transform:translateX(-115%);
        }
    }

    #device .swiper-container {
        $value_sm:
            'pc'        0.6rem    21   18.8rem   11.8rem    0         -40.5%,
            'tablet'    4.1rem    11   12.6rem   9.4rem     0.3rem    -119.5%,
            'mobile'    4.87rem   31   4.24rem   9.01rem    0.5rem     262%,
        ;
        @each $class, $top, $z-index, $width, $height, $bdr, $transX in $value_sm {
            &.swiper-#{$class} {
                position:absolute;top:#{$top};left:50%;z-index:#{$z-index};width:#{$width};height:#{$height};border-radius:#{$bdr};transform:translateX(#{$transX});
            }
        }
        @include md {
            $value_md:
                'pc'        1rem      21   36.15rem   22.69rem      0      -40.5%,
                'tablet'    7.7rem    11   24.23rem   18.08rem     0.3rem    -119.5%,
                'mobile'    9.15rem   31   8.154rem   17.33rem    0.5rem     262%,
            ;
            @each $class, $top, $z-index, $width, $height, $bdr, $transX in $value_md {
                &.swiper-#{$class} {
                    position:absolute;top:#{$top};left:50%;z-index:#{$z-index};width:#{$width};height:#{$height};border-radius:#{$bdr};transform:translateX(#{$transX});
                }
            }
        }
    }

    #device .swiper-slide {
        overflow:hidden;
        .slide-inner {
            position:absolute;width:100%;height:100%;left:0;top:0;background-size:cover;background-position:center;
        }
    }

    #device {
        $value_sm:
            'pc'         0         20   26rem    -43%,
            'tablet'     3.6rem    10   14.6rem  -110%,
            'mobile'     4.5rem    30   5.5rem   190%,
        ;
        @each $class, $top, $z-index, $width, $transX in $value_sm {
            .bg_#{$class} {
                position:absolute;top:#{$top};left:50%;z-index:#{$z-index};width:#{$width};height:auto;transform:translateX(#{$transX});
            }
        }
        @include md {
            $value_md:
                'pc'         0         20   50rem    -43%,
                'tablet'     6.8rem    10   28.1rem  -110%,
                'mobile'     8.5rem    30   10.58rem   190%,
            ;
            @each $class, $top, $z-index, $width, $transX in $value_md {
                .bg_#{$class} {
                    position:absolute;top:#{$top};left:50%;z-index:#{$z-index};width:#{$width};height:auto;transform:translateX(#{$transX});
                }
            }
        }
    }

    #device .txt_area {
        width:100%;padding-top:20rem;text-align:center;;
        .tit_section {
            font-size:2.6rem;color:#fff;line-height:1.37em;letter-spacing:-0.03em;
            strong {
                font-weight:900;
            }
        }
        .desc_section {
            padding:1.2em 0 6rem;color:#fff;line-height:1.6em;word-break:keep-all;
        }
        .btn_search {
            @include gradSlideBtn($mg:0 0 1rem 0, $pd:0 3.5rem);
            .cmt {
                margin-left:0.9rem;padding:0.5rem 0.8rem;font-size:1.4rem;color:#fff;background-color:rgba(#0d0d0d, 0.2);
            }
        }
        @include md {
            padding-top:31rem;
        }
    }

    #device {
        $value:
            top      left       #f5f7f8,
            bottom   right      #fff,
        ;
        @each $Y, $X, $bgc in $value {
            .rotate_#{$Y} {
                position:absolute;width:120%;height:20vw;background-color:#{$bgc};transform-origin:#{$X} #{$Y};transform:rotate(10deg);z-index:0;
                @if ($Y == top){
                    left:0;top:-20vw;
                } @else {
                    right:0;bottom:-20vw;
                }
            }
        }
    }



/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/



    /* 경력개발 */
    #professional {
        position:relative;background-color:#fff;border:1px solid transparent;
    }

    #professional .tab-container {
        .tab-wrapper {
            .tab-slide {
                .tit_slide {
                    padding-top:2rem;font-size:2.6rem;text-align:center;line-height:1.37em;letter-spacing:-0.03em;
                }
                .desc_slide {
                    padding-top:1.2em;font-size:1.65rem;color:#767676;text-align:center;line-height:1.6em;word-break:keep-all;
                }
            }
        }
    }

    #professional .tab-slide-tool .swiper-slide {
        display:flex;justify-content:space-around;width:28rem;padding:5.5rem 0;
    }

    #professional .tab-slide-tool {
        .item_tool {
            display:inline-flex;justify-content:center;align-items:center;width:12rem;height:12rem;border-radius:100%;background-color:#fff;box-shadow:0.2rem 0.2rem 1rem 0 rgba(0, 0, 0, 0.08);
            .logo {
                height:6rem;font-size:6rem;
            }
        }
    }

    #professional .tab-slide-license {
        background:no-repeat center bottom 2.5rem;background-size:100% auto;
        .swiper-container {
            width:100%;padding:16rem 0;
            .swiper-wrapper {
                transition-timing-function:linear;
            }
        }
    }

    #professional .tab-slide-license .swiper-slide {
        $bulletSize: 2.8rem;
        position:relative;width:20rem;height:10rem;opacity:0;
        &::before {
            content:"";position:absolute;width:$bulletSize;height:$bulletSize;border-radius:100%;border:1px solid #000;background-color:#fff;box-shadow:0 0.3rem 0.8rem rgba(#000, 0.1);transform:scale(0);
        }
        &::after {
            content:"";position:absolute;width:#{$bulletSize / 2.6};height:#{$bulletSize / 2.6};z-index:1;border-radius:100%;background-color:#000;
        }
        .box {
            position:absolute;left:#{$bulletSize / 2 * -1};
            .date {
                font-family:"CenturyGothic";font-size:1.9rem;font-weight:bold;line-height:1.4em;
            }
            .tit {
                font-size:1.4rem;font-weight:bold;line-height:1.4em;
            }
            .desc {
                font-size:1.4rem;line-height:1.4em;white-space:nowrap;
            }
        }
        .border {
            position:absolute;left:0;z-index:-1;width:0;height:4px;box-shadow:0 0.3rem 0.8rem rgba(#000, 0.2);transform-origin:left;
            &.border-active {
                width:111%;transition:width 2.6s ease-in-out;
            }
        }
        &:nth-child(even) {
            &::before {
                bottom:#{$bulletSize / -2};left:#{$bulletSize / -2};border-color:$G-colorPrimary;
            }
            &::after {
                bottom:#{$bulletSize / 2.6 / -2};left:#{$bulletSize / 2.6 / -2};background-color:$G-colorPrimary;
            }
            .box {
                transform:translateY(145%);
                .date {
                    color:$G-colorPrimary;
                }
            }
            .border {
                bottom:0;background:linear-gradient(25.6deg, $G-colorPrimary, $G-colorSecondary);transform:rotate(-25.6deg);
            }
        }
        &:nth-child(odd) {
            &::before {
                top:#{$bulletSize / -2};left:#{$bulletSize / -2};border-color:$G-colorSecondary;
            }
            &::after {
                top:#{$bulletSize / 2.6 / -2};left:#{$bulletSize / 2.6 / -2};background-color:$G-colorSecondary;
            }
            .box {
                transform:translateY(-130%);
                .date {
                    color:$G-colorSecondary;
                }
            }
            .border {
                top:0;background:linear-gradient(-25.6deg, $G-colorPrimary, $G-colorSecondary);transform:rotate(25.6deg);
            }
        }
        &:nth-child(1) {
            opacity:0 !important;
        }
        &:nth-last-child(2) .border {
            opacity:0 !important;
        }
        &:nth-last-child(1) {
            opacity:0 !important;
        }
        &.swiper-slide-active-complete {
            opacity:1;transition:opacity 0.3s 2s ease-in-out;
            &::before {
                transform:scale(1);transition:0.3s 2.5s;
            }
            &::after {
                transition:0.3s 0.5s;
            }
            &:nth-child(2) {
                transition:none;
                &::before {
                    transition-delay:0.5s;
                }
            }
        }
    }

    #professional .tab-slide-activity .swiper-thumb {
        width:36.9rem;height:22.5rem;margin:2.5rem auto;
    }

    #professional .tab-slide-activity .swiper-thumb .swiper-slide {
        background-size:cover;
    }

    #professional .tab-slide-activity .swiper-top {
        width:100%;height:16.2rem;margin-bottom:1rem;
    }

    #professional .tab-slide-activity .swiper-top .swiper-slide {
        width:36.9rem;
        .text-area {
            text-align:center;opacity:0.2;transition:opacity 0.3s $G-easeHover;
            $value:
                corp     0.85rem    0            1.6rem    900      1em       -0.02em        1,
                tit      0.85rem    0            2.35rem    900      1em       -0.05em       1,
                date     2.2rem     0            1.4rem    900      1em       0              1,
                desc     0          "0 3rem"     1.5rem    normal   1.4em     -0.03em        0,
            ;
            @each $class, $mb, $pd, $fz, $fw, $lh, $lp, $opacity in $value {
                .#{$class} {
                    margin-bottom:$mb;padding:#{$pd};font-size:$fz;font-weight:$fw;line-height:$lh;letter-spacing:$lp;word-break:keep-all;opacity:$opacity;transition:opacity 0.3s $G-easeHover;
                }
            }
        }
        &.swiper-slide-active {
            .text-area {
                opacity:1;
                .desc {
                    opacity:1;
                }
            }
        }
    }

    #professional .tab-slide-activity .swiper-button {
        position:absolute;top:4rem;left:50%;z-index:10;;width:36.9rem;transform:translateX(-50%);
        .swiper-button-black {
            opacity:0.18;transform:scale(0.7);
            &.swiper-button-prev {
                left:0;
            }
            &.swiper-button-next {
                right:0;
            }
        }
    }

    #professional .tab-nav {
        text-align:center;
        .tab-btn {
            @include gradSlideBtn($width:31rem, $mg:1rem auto);
            display:flex;
            .ico {
                font-size:2.8rem;fill:$G-colorPrimary;margin-right:0.25em;
            }
        }
        .tab-btn-active {
            color:#fff;border-color:transparent;transition:border-color 0.4s 0.2s #{$G-easeHover}, color 0.4s #{$G-easeHover};
            &::after {
                right:0;
            }
            .ico {
                fill:#fff;transition:all 0.4s #{$G-easeHover};
            }
        }
        @include md {
            .tab-btn {
                @include gradSlideBtn($mg:0 0.5rem, $pd:0 4rem);
                .ico {
                    font-size:2.8rem;fill:$G-colorPrimary;margin-right:0.25em;
                }
            }
            .tab-btn-active {
                color:#fff;border-color:transparent;transition:border-color 0.4s 0.2s #{$G-easeHover}, color 0.4s #{$G-easeHover};
                &::after {
                    right:0;
                }
                .ico {
                    fill:#fff;transition:all 0.4s #{$G-easeHover};
                }
            }
        }
    }



/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/



    /* 근무이력 */
    #career {
        position:relative;background-color:#fff;
        .tit_section {
            padding-top:9rem;font-size:2.6rem;text-align:center;line-height:1.37em;letter-spacing:-0.03em;
        }
    }

    #career .swiper-container {
        overflow:visible;padding:3.5rem 0 3rem;
    }

    #career .swiper-slide {
        width:36.9rem;height:28.7rem;/* margin:0 1rem; */padding:2.65rem 2.65rem 0;background-color:#fff;box-shadow:0 0.3rem 1.5rem 0 rgba(0, 0, 0, 0.1);
    }

    #career .swiper-slide .btn_area {
        position:absolute;right:$innerPd;bottom:$innerPd;z-index:1;opacity:0;transform:translateY(70%);transition:all 0.5s 0.3s $G-easeHover;pointer-events:none;
        .btn_search {
            @include gradSlideBtn($pd:0);
            width:5.5rem;height:5.5rem;font-size:2.4rem;border:0;box-shadow:0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.1);
        }
        .tooltip {
            overflow:hidden;position:absolute;top:50%;right:$innerPd;z-index:-1;transform:translateY(-50%);
            .tit {
                display:flex;align-items:center;height:4rem;padding:0 40px 0 20px;border-radius:2em 0 0 2em;font-size:1.4rem;color:#fff;line-height:1em;white-space:nowrap;background-color:rgba(#000,0.85);opacity:0;transform:translateX(0);
                .corp {
                    color:$G-colorPrimary;margin-right:5px;
                }
            }
        }
    }

    #career .swiper-slide.swiper-slide-active .btn_area {
        $name: inline-#{unique-id()};
        opacity:1;transform:translateY(0);animation:#{$name} 0.3s 3.2s forwards $G-easeHover;pointer-events:all;
        @keyframes #{$name} {
            50%          {pointer-events:none;}
            100%         {opacity:0;transform:translateY(70%);pointer-events:none;}
        }
        .tit {
            $name: inline-#{unique-id()};
            animation:#{$name} 2.5s 0.6s forwards $G-easeHover;
            @keyframes #{$name} {
                60%         {opacity:1;transform:translateX(0)}
                100%        {opacity:0;transform:translateX(100%)}
            }
        }
    }

    #career .swiper-slide.swiper-slide-touch-active .btn_area {
        $name: inline-#{unique-id()};
        opacity:0;transform:translateY(70%);animation:#{$name} 0.3s forwards $G-easeHover;
        @keyframes #{$name} {
            100%         {opacity:1;transform:translateY(0);pointer-events:all}
        }
    }

    #career .info {
        display:flex;justify-content:space-between;align-items:center;margin-bottom:2.5rem;
        .logo {
            display:block;max-width:35%;height:auto;max-height:4rem;margin:0 auto;
        }
        .detail {
            width:55%;padding-left:2%;
            .name {
                margin-bottom:0.3em;font-weight:bold;letter-spacing:-0.04em;
            }
            .period {
                margin-bottom:0.3em;font-size:1.3rem;color:#767676;
            }
            .postion {
                font-size:1.3rem;color:#767676
            }
        }
    }

    #career .list_job {
        .tit {
            margin-bottom:2rem;padding-bottom:2rem;border-bottom:1px solid #eee;font-size:1.6rem;font-style:italic;color:#333;text-align:center;line-height:1em;letter-spacing:-0.05em;
            &::before {
                content:"“";display:inline-block;margin-right:0.04em;font-family:"PerpetuaTitlingMT",serif;font-style:normal;font-size:2.7rem;color:#bbb;line-height:0em;transform:translateY(0.18em);
            }
            &::after {
                content:'”';display:inline-block;margin-left:0.1852em;font-family:"PerpetuaTitlingMT",serif;font-style:normal;font-size:2.7rem;color:#bbb;line-height:0em;transform:translateY(0.18em);
            }
        }
        .desc {
            position:relative;margin:0 -1rem;font-size:1.3rem;color:#767676;line-height:1.9em;letter-spacing:-0.05em;
            &::before {
                content:"ㆍ";
            }
        }
    }

    #career .swiper-button-white {
        width:4rem;height:6.5rem;margin-top:-3.25rem;background-color:rgba(#000,0.15);background-size:30%;
        &.swiper-button-prev {
            left:0;
        }
        &.swiper-button-next {
            right:0;
        }
        @include sm {
            display:none;
        }
    }

    #career .swiper-pagination {
        position:relative;
        .swiper-pagination-bullet {
            margin:0 0.6rem;border-radius:2em;background:rgba(#000,0.1);opacity:1;transition:all 0.4s ease-in-out;
        }
        .swiper-pagination-bullet-active {
            width:2.8rem;background:$G-gradPrimary;
        }
    }


/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/



    /* 코딩블로그 */
    #blog {
        .tit_section {
            padding-top:9rem;font-size:2.6rem;text-align:center;line-height:1.37em;letter-spacing:-0.03em;
        }
        .desc_section {
            padding:1.2em 0 4rem;font-size:1.65rem;color:#767676;text-align:center;line-height:1.6em;word-break:keep-all;
        }
    }

    #blog .table {
        tr[data-disable="true"] td {
            color:#cacaca !important;
        }
        @include sm {
            tr {
                display:block;padding:2.5rem 0;border-top:1px solid #eee;
                &:nth-child(1) {
                    border-top:0;
                }
                .cate {
                    display:block;width:100%;padding:0;border:0;text-align:left;
                }
                .tit {
                    display:block;width:100%;padding:0.5em 0;border:0;font-size:1.7rem;font-weight:bold;text-align:left;
                }
                .date {
                    display:block;width:100%;padding:0;border:0;text-align:left;
                }
            }
        }
        @include md {
            .cate {
                width:22%;text-align:left;
            }
            .tit {
                font-size:1.3rem;text-align:left;
            }
            .date {
                width:15%;
            }
        }
    }



/*
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
*/